<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <title>ESP Update Server</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class=nav>
    <h1>ESP Update Server</h1>
    <div class=metanav>
        <a href="{{ url_for( 'status') }}">Status</a>
        <a href="{{ url_for( 'update') }}">Add/Remove</a>
        <a href="{{ url_for( 'upload') }}">Upload</a>
    </div>
</div>
<div class=main>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
